/* --- Font Face Declarations --- */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/roboto-slab-v34-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/roboto-slab-v34-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/special-elite-v19-latin-regular.woff2') format('woff2');
}

